/*
  Site container
*/
.container {
  width: $container-width;
  margin-left: 0;
  margin-right: 0;
}
.posts-wrapper {
  padding-top: $header-thickness+10px;
  margin: auto;
  display: block;
  width: $container-width - 20px;
}
.posts-wrapper h5 {
  margin: 20px 0px 5px;
}
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .posts-wrapper {
    padding-top: $header-thickness+10px;
    margin: auto;
    display: block;
    width: 95vw;
  }
}
/*
  Store - I am eventually going to make a new site
*/
.hidden {
  display: none;
}
* {
    box-sizing: border-box;
}
.store-header {
  text-align: center;
  padding: 60px 0 0 0;
  margin: 10px 0 0 0;
}
.store-subhead {
  text-align: center;
  padding: 0px 0 0px 0;
  margin: 50px 0 60px 0;
}
.attribution {
  text-align: center;
  padding: 0px 0 0 0;
  margin: 0px 0 0 0;
}
/*
  Store ITEMS
*/
body .store {
  background: white;
}
.store-items {
  text-align: center;
  margin: 0px auto 20px auto;
  padding: 10px;
}
.store-items ul {
  text-align: center;
  list-style-type: none;
  content: "";
  clear: both;
  display: table;
}
.store-items li {
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 20px;
  margin: 0px;
}
.store-items a {
  color: black;
  text-decoration: none;
}
@media (max-width: $tablet-width) {
  .store-items ul{
    width: 95vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .store-items li {
    float: none;
    width: 100%;
    display: block;
    align: middle;
    margin: 5px auto 5px;
    max-width: 95vw;
  }
}

/*
.reading-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.career{background-image:url("https://www.queerauntie.com/assets/img/assets/img/store_buttons_career.jpg");}
.natal{background-image:url("https://www.queerauntie.com/assets/img/assets/img/store_buttons_natal.jpg");}
.tarot{background-image:url("https://www.queerauntie.com/assets/img/assets/img/store_buttons_tarot.jpg");}

.reading-selector input:active +.drinkcard-cc{opacity: .9;}
.reading-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


Extras
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
*/
