




.page-title {
  padding: 0px 10px 10px;
}
.misc-content {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 200px;
}
.row {
  display: flex;
}
/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
/*
background-image {
  background-color: #cccccc;
  background-image: url('{{ site.baseurl }}assets/img/towncats.jpg');
}

background: {
    image: url('..img/towncats.jpg');
    position: top center;
    size: cover;
    repeat: no-repeat;
  }
*/
