
.page-title {
  margin: 0px;
  padding: 0px;
}

.misc-content {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
}
.misc-content img {
  width: 300px;
  padding: 0px 0 0 0;
}
.misc-content a {
  color: blue;
  text-decoration: underline;
  text-decoration-color: #3eb984;
}

/*
background-image {
  background-color: #cccccc;
  background-image: url('{{ site.baseurl }}assets/img/towncats.jpg');
}

background: {
    image: url('..img/towncats.jpg');
    position: top center;
    size: cover;
    repeat: no-repeat;
  }
*/
