/*
  Header
*/
.store-form-header {
  padding: 0px 0px 0px 0px;
  margin: 40px 0 0 80px;
  width: 400px;
  display: block;
}
.store-form-title {
  text-align: left;
  float: left;
}
.store-form-product {
  color: white;
}
.store-form-subhead {
  margin-bottom: 20px;
}
.store-form-subhead h11{
  text-decoration: none;
  font-size: 1.4em;
  background-color: #8fc1e6;
}
/*
  Site container
*/
.store-form-body {
  background-color: #8fc1e6;
}
.store-container {
  margin-left: 0;
  margin-right: 0;
}
.page-background {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right top;
}
.store-wrapper {
  padding-top: 10px;
  margin: auto;
  display: block;
}
/*
  The Deets Bullet Points
*/
.store-form-description {
  padding: 0px 0px 0 0px;
  margin: 0px 0 0 80px;
  display: block;
  width: 400px;
}
.store-form-description h8{
  background-color: #8fc1e6;
}
.store-form-includes {
  margin: 10px 0 10px 0;
}
.store-form-includes h15{
  font-family: Arial;
  font-weight: bold;
  background-color: #8fc1e6;
}
.store-form-includes ul {
  margin: 0 0 14px 0;
  line-height: 20px;
  list-style-position: inside;
}
/*
  Form
*/
.hidden {
  display: none;
}
.store-orderform {
  width: 560px;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 0px 40px 40px;
  text-align: left;
  box-shadow: 2px 2px 2px 2px rgba(0.1,0.1,0.1,0.1);
}
.store-orderform p{
  font-family: Arial;
}
.store-form-section {
  margin: 50px 0 0 0;
}
.store-form-question {
  margin: 20px 0 0 0;
}
/*
  Dropdown
*/
.date-selector select{
  width: 400px;
  border: 1px dotted #999;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}
.date-selector option{
  background-color: #eaf3fa;
  border: 1px dotted #999;
  padding: 10px;
  color:black;
  font-weight: bold;
  font-size: 16px;
}
/*
  Mouseover Info Tidbits
*/
.tooltip .tooltiptext {
    font-size: .7em;
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 6px;
    margin: 0px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*
  Text Input Styles
*/
input[type=text] {
  width: 400px;
  border: 1px dotted #999;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}
input[type=date] {
  font-family: inherit;
  border: 1px dotted #999;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}
input[type=time] {
  font-family: inherit;
  border: 1px dotted #999;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}
/*
  Text Input Placeholder
*/
input[type=text]::-webkit-input-placeholder { /* Safari, Chrome(, Opera?) */
 color:gray;
 font-style:italic;
}
input[type=text]:-moz-placeholder { /* Firefox 18- */
 color:gray;
 font-style:italic;
}
input[type=text]::-moz-placeholder { /* Firefox 19+ */
 color:gray;
 font-style:italic;
}
input[type=text]:-ms-input-placeholder { /* IE (10+?) */
 color:gray;
 font-style:italic;
}
input[type=date]::-webkit-input-placeholder { /* Safari, Chrome(, Opera?) */
 color:gray;
 font-style:italic;
}
input[type=date]:-moz-placeholder { /* Firefox 18- */
 color:gray;
 font-style:italic;
}
input[type=date]::-moz-placeholder { /* Firefox 19+ */
 color:gray;
 font-style:italic;
}
input[type=date]:-ms-input-placeholder { /* IE (10+?) */
 color:gray;
 font-style:italic;
}
input[type=time]::-webkit-input-placeholder { /* Safari, Chrome(, Opera?) */
 color:gray;
 font-style:italic;
}
input[type=time]:-moz-placeholder { /* Firefox 18- */
 color:gray;
 font-style:italic;
}
input[type=time]::-moz-placeholder { /* Firefox 19+ */
 color:gray;
 font-style:italic;
}
input[type=time]:-ms-input-placeholder { /* IE (10+?) */
 color:gray;
 font-style:italic;
}
/*
  Submit BUTTON
*/
.store-form-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 24px;
  width: 260px;
  font: $base-font-family;
  background-color: #8fc1e6;
  font-size: 40px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.store-form-button:hover {
    background-color: #4CAF50; /* Green */
}
.button-margins {
  margin: 25px 0 0 0;
}
/*
  Resizers
  $container-width: 1100px;
  $resized-window: 860px;
  $tablet-width: 600px;
  $phone-width: 480px;
*/

@media (max-width: $tablet-width+150px) {
  .store-orderform {
    width: 440px;
    max-width: 440px;
  }
  .store-orderform form{
    width: 420px;
    max-width: 420px;
  }
  input[type=text] {
    width: 360px;
  }
  .date-selector select{
    width: 360px;
  }
  .store-form-header {
    width: 350px;
    max-width: 350px;
    margin-left: 40px;
  }
  .store-form-description {
    width: 340px;
    max-width: 340px;
    margin-left: 40px;
  }
  .store-wrapper {
    //width: 80vw;
  }
  .store-container {
    //width: 80vw;
  }
  .store-form-body {
    //width: 80vw;
  }
  .store-form-description h8{
    //line-height: normal;
  }
  .page-background {
    background-size: 70%;
    background-position:180% 0%;
    background-clip: content-box;
    //padding-top: 0px;
    //padding-left: 140px;

    //margin-left: 50px;
    //background-size: 0%;
  }
}
@media (max-width: $phone-width+50px) {
  .page-background {
    background-size: 0%;
  }
  .store-orderform {
    width: 340px;
    max-width: 340px;
  }
  .store-orderform form{
    width: 320px;
    max-width: 320px;
  }
  input[type=text] {
    width: 260px;
  }
  .date-selector select{
    width: 260px;
  }
}
