<header class="site-header">
  <div class="site-title">
    <h13>
      <a href="{{ site.github.url }}/">{{ site.data.settings.title }}</a>
    </h13>
  </div>
  <div class="author-subhead">
    <h11>
    <a href="{{ site.github.url }}/pages/about.html">by {{ site.author }}</a>
  </h11>
  </div>
<!-- turning off menu for now
  <nav class="menu-list">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="menu-link">{{ item.name }}</a>
    {% endfor %}
-->
    </div>
  </div>

</header>
