<div class="reading">

  <a class="reading" href="{{ site.baseurl }}{{ reading.url }}">
    <img src="{{ site.github.url }}/assets/img/{{ reading.image }}" class="thumbnail"/>
    <p>{{ reading.name }}</p>
    <P>{{ reading.content }}</p>
  </a>

  <button class="snipcart-add-item"
    data-item-name="{{ reading.name }}"
    data-item-id="{{ reading.sku }}"
    data-item-image="{{ reading.image }}"
    data-item-url="{{ site.baseurl }}"
    data-item-price="{{ reading.price }}">
    Book Your Reading Now ${{ reading.price }}
  </button>

</div>
