---
layout: default
title: Home
---
{% for post in paginator.posts %}
<article>
  <div class="seo-image">
    <img src="/assets/img/queer_auntie_site_image01.jpg">
  </div>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts"
         {% if post.image.feature %}
         style="background-image:url({{ site.github.url }}/assets/img/{{ post.image.feature }})"
         {% endif %}>
      <div class="post-description-container">
        <span class="post-cat"><h6>{{ post.categories }}</h6></span>
        <span class="post-title"><h5>{{ post.title }}</h5></span>
        <span class="post-description"><h10>{{ post.description }}</h10></span>
      </div>
    </div>
  </a>
</article>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next"><h11>OLDER</h11></a>
  {% else %}
    <span class="pagination-button"><h12>OLDER</h12></span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}"><h11>NEWER</h11></a>
    {% else %}
      <span class="pagination-button"><h12>NEWER</h12></span>
  {% endif %}
</div>
