---
layout: default
---
<head>
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="https://www.queerauntie.com/assets/img/{{ page.image.feature }}">
</head>
<div class="page-content">
  <div class="post-info">
   <h3>
    <span class="post-cat">
      {{ page.categories }}
    </span>
    <span class="post-date">
    {% assign d = page.date | date: "%-d"  %}
    {{ page.date | date: "%B" }}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th{% endcase %},
    {{ page.date | date: "%Y" }}
    </span>
   </h3>
 </div>
 <!-- closing out postinfo -->
 <div class="post-title">
   <h1>
    {{ page.title }}
   </h1>
 </div>
 <div class="upper-post-share">
   <div class="sharing-icons">
      SHARE
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ "https://www.queerauntie.com" }}{{ page.url }}&amp;via={{ site.data.authors.primary.twitter }}"target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ "https://www.queerauntie.com" }}{{ page.url }}&amp;title={{ page.title }} target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="mailto:?&amp;subject={{ page.title }}&amp;body=Check%20out%20this%20post%20I%20just%20read%0D%0A{{ "https://www.queerauntie.com" }}{{ page.url }}&amp; target="_top"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
    </div>
  </div>
  <span class="post-author">
    <h2><a href="{{ site.github.url }}/pages/about.html">
      by
     {% if page.author %}
      {{ page.author }}
     {% else %}
      {{ site.data.authors.primary.name }}
     {% endif %}
   </a>
    </h2>
  </span>
  {% if page.image.feature %}
    <div class="featured-image">
      <figure>
        <h4>
        <a href= "{{ page.image.creditlink }}" target="_blank">
       <img src="{{ site.github.url }}/assets/img/{{ page.image.feature }}">
        <figcaption>
          {{ page.image.caption }}
        </figcaption>
        </a>
        </h4>
      </figure>
    </div>
  {% endif %}
  <article>
    {{ content }}
  </article>
  <div class="lower-post-share">
    <div class="sharing-icons">
      SHARE
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ "https://www.queerauntie.com" }}{{ page.url }}&amp;via={{ site.data.authors.primary.twitter }}"target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ "https://www.queerauntie.com" }}{{ page.url }}&amp;title={{ page.title }} target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="mailto:?&amp;subject={{ page.title }}&amp;body=Check%20out%20this%20post%20I%20just%20read%0D%0A{{ "https://www.queerauntie.com" }}{{ page.url }}&amp; target="_top"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
    </div>
  </div>
  <div class="cta-astro">
    {% if page.promo-img %}
    <a href= "{{ page.promo-link }}" target="_blank"><img src="/assets/img/{{ page.promo-img }}"></a>
    {% endif %}
  </div>
  <div class="related">
    <!-- <h2>RELATED</h2> -->
    {% assign listed_posts_urls = page.url | split: ' ' %}
    <ul class="related-posts">
      {% for tag in page.tags %}
        {% for mypost in site.tags[tag] limit:2 %}
          {% if listed_posts_urls contains mypost.url %}
          {% else %}
            <li>
              <h5>
                <a href="{{ site.github.url }}{{ mypost.url }}">
                  <div class="related-thumbnail"
                       {% if mypost.image.feature %}
                       style="background-image:url({{ site.github.url }}/assets/img/{{ mypost.image.feature }})"
                       {% endif %}>
                    <div class="related-title-container">
                    <span class="related-cat"><h6>{{ mypost.categories }}</h6></span>
                    <span class="related-title"><h5>{{ mypost.title }}</h5></span>
                    <span class="related-description"><h10>{{ mypost.description }}</h10></span>
                    </div>
                  </div>
                </a>
              </h5>
            </li>
            {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
