<!doctype html>
<html>
{% include head.html %}
<header class="shelf-header">
  <div class="shelf-header-content">
    <h8><span class="shelf-headhead">{{ page.header }}</span></h8>
    <h111><span class="shelf-subhead">{{ page.subhead }}</span></h111>
    <h111><span class="shelf-author">{{ page.author }}</span></h111>
</div>
    <div class="shelf-header-cta">
      <h7>{{ page.cta }}</h7>
    </div>

</header>
<body>
  <!--- BACKGROUND IMAGE -->
  <div class="shelf-background" {% if page.bgimage %} style="background-image: url(../../assets/img/{{ page.bgimage }})"{% endif %}>
    <div class="store-wrapper">
  <div class="shelf-wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
 </div>
</div>
</body>
</html>
